@import 'bourbon/bourbon';

@font-face {
    font-family: 'Bebas';
    src: url('./fonts/BebasNeue-webfont.eot');
    src: url('./fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/BebasNeue-webfont.woff') format('woff'),
         url('./fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('./fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Colors

$faded-gray: #909598;
$dark-blue:#0969A7;
$light-blue:#69adda;
$body-gray:#656E72;

// Mixins
@mixin blue-border ($height) {
	border-bottom:$height solid #38bef1
}

body {
	font-family : 'Bebas', $helvetica;
	background: #f4eeee;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	margin-top:1em;
	line-height:1em;
}

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
}

p, .post_content {
	font-family: $helvetica;
	font-weight:300;
	line-height:1.3em;
	font-size:18px;
	color:$faded-gray;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.post_content {
	p {
		text-align:justify;
	}
	p, div {
		@media only screen and (max-width:400px) {
		div {
			margin:0px;
			padding:0px;
		}
		padding: 0px 20px 10px 10px;
		text-align: justify;
		}
	}
}

header.header {
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	.topNav {
		font-size:23px;
		background:#216abb;
		overflow: hidden;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
		ul:first-of-type {
			margin-left: 14%;
			li {
				vertical-align: middle;
			}
		}		
		li {
			vertical-align: top;
		}
		li:last-child{
			a {
				color:white;
				text-decoration: none;
			}
		}

		a{
			color:#f0c343;
			@include transition (all 0.4s);
			&:hover{
				color:white;
				text-decoration: none;
			}
		}
		.logo {
			img {
				box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
				border: 2px solid #D8BD3C;
			}
			@media only screen and (max-width:400px) {
				display: block;
				bottom: 0;
				margin: 10px auto;
				padding: 10px 0;
			}
		}
	ul.dropdownz {
			display: none;
			text-align: center;
			@media only screen and (max-width:400px) {
				display: block;
				padding: 29px 9px 3px 9px;
			}
		}
	}
	.leftNav{
		ul.social {
			position: fixed;
			top:0;
			li:first-child{
				padding-top: 71px;
				margin-top: 15px;
			}
			li {
				display: block;
				background: $light-blue;
				img {
					margin:1em .125em;
				}
			}
			li:last-child {
				padding-bottom: 685px;
			}
			.home {
				a {
					position: relative;
					bottom:98px;
				}
				img {
					position:relative;
					top:10px;
				}
			} 

		}
	}

	li {
		display: inline-block;
		padding:0 14px;
		font-size:31px;

	}
// Breakpoint for header.header navigation at 1159px
	@media only screen and (max-width:1159px) {
		position: relative;
		width: 110%;
		right: 5%;

		.leftNav{
			display: none;
		}

		.topNav {
			ul {
				margin:0;
				height: auto;
				&:first-of-type {
					margin-left:0;	
				}
			}
			li{
				margin-top:0.5em;

			}
			.logo {
				width:100%;
				margin: 0 auto;
				display: block;
				position: relative;
				bottom: 0;
				img {
					display: block;
					width: 285px;
					margin: 0 auto;
				}
			}
			ul.dropdownz {
				display: block;
				position: relative;
				top: 0px;
				left: 0px;
				margin: 0 2em;
				padding: 0px;
			}
		}
		li {
			padding:0 1%;
			font-size:28px;
		}
		li.desktopmenu {
			display:none;
		}
	}
	// Breakpoint for mobile navigation at 485px
	@media only screen and (max-width:485px) {
		.topNav {
			ul.dropdownz {
				margin: 0;
				text-align: center;
				height:49px;
				li {
					display: block;
					margin: 0;
					padding: 0.25em 0;
					border-top: 1px solid white;
					a {
						font-size: 28px;
						letter-spacing: 1px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.bjqs-prev a , .bjqs-next a {
  background: rgba(74, 100, 202, 0.62);
  font-family: arial;
  color: #FFF;
  padding: 1em;
  text-transform: uppercase;
  font-size: 11px; 
}

#main {
	margin-top: 120px;
	@media only screen and (max-width:1159px) {
		margin-top:0px;
	}
}

#banner-fade {
	@media only screen and (max-width:1159px) {
		margin:0;
		width:100%;
	}
}

#slider {
	margin: 51px auto;
	.bjqs-markers.h-centered {
		margin: 10px auto;
		li {
			margin: 5px;
		}
		a {
		    font-size:10px;
		    padding: 3px 10px;
		    border-radius:1em;
		    background:#cfcd2f;
		    color:rgba(0, 136, 204, 0)
		}
		.active-marker a {
			background:#38bdef;
		}
	}

	}

.box {
	background: #f1f5f7;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.box.row-fluid {
	width: 76.333%;
	margin-left: 13%;
	padding: 0 4%;
	// Breakpoint for when left nav is gone
	@media only screen and (min-width:786px) and (max-width:1159px){
		width: 95%;
		margin: 0;
		padding: 0 2.5%;
	}

	// Breakpoint for Tablet resolutions
	@media only screen and (min-width:481px) and (max-width:786px){
		width: 88%;
		margin:20px auto;
		padding: 0 6%;
	}

	// Breakpoint for mobile viewing
	@media only screen and (max-width:480px){
		width: 90%;
		margin:20px auto;
		padding: 0 5%;
	}
}

#events h2, #feed h2 {
	color:$dark-blue;
	@include blue-border(1px);
	font-size: 34px;
	padding-bottom: 9px;
	margin-right: 47px;
	line-height:1em;
}

h1.headline {
	color: $dark-blue;
	@include blue-border(1px);
	font-size: 44px;
	line-height: 1em;
	padding: 0 0 10px 0;
	width: 100%;
			@media only screen and (max-width:420px) {
		font-size: 26px;
		text-align: center;
		display: block;
		margin: 14px auto 0 auto;
		width: 80%;
		position: relative;
		right: 2%;
		}
}

#feed {
	ul{
		border-right:2px solid #38bef1;
		padding-right:30px;
	}
	li{
		display: block;
		border-bottom: #dadedf 1px solid;
    	padding: 1em 0;
		img{
			box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
			display: inline-block;
			vertical-align: inherit;
			margin-right: 10px;
		}
		span {
			display: inline-block;
			width: 74%;
			h3 {
			display:block;
			color: $light-blue;
			font-size: 27px;
			margin: 4px 0 0 0;
			padding: 0;	
			}
			p {
				display: block;
			}		
		}

	}
}

#events {
	li {
		display: block;
		border-bottom: #dadedf 1px solid;
		padding:10px 0px;
		overflow: hidden;
		position: relative;
		top:0;
		left:0;
		.left{
			display: inline-block;
			width: 30%;
			vertical-align: top;
			border-right:#DADEDF 1px solid;
			position:absolute;
			height:95%;
			h3,h4 {
				color:$light-blue;
				text-align: center;
				margin: 0;
				padding: 0;
				line-height: 1em;
				font-size: 24px;
			}
			h3 {
				font-size:38px;
				margin-top:30%;
			}
		}
		.right{
			display: inline-block;
			width: 64%;
			padding:10px;
			strong {
				font-weight: normal;
				color: #808080;
				font-size: 24px;
				padding: 0;
				display: block;
				margin-top: 3px;
			}
		}
	}
	//Breakpoint for mobile
 @media only screen and (max-width:400px) {
 	h2 {
 		text-align: center;
		margin: 0 auto;
		width: 95%;
 	}
 	li{
 		.left{
 			width:95%;
 			display: block;
 			border-right:none;
 			border-bottom: #DADEDF 1px solid;
 			position:static;
 			h3 {
				margin-top:10px;
 			}
 		}
 		.right {
			width:95%;
			display: block;
			strong {
				text-align:center;
			}
			p {
				text-align: center;
			}
 		}
 	}
 }
}

.timeline {
    background:none !important;
    border:0 !important;
}
.summary .customisable-highlight {
    visibility:hidden !important;
}

#blog {
	margin-top:30px;
	.row-fluid {
		margin-bottom:30px;
	}
	span {
		@include blue-border(1px);
		display: inline-block;
		width: 95%;
		padding-bottom:11px;
	}
	img {
		float: right;
	}
	.span6{
		h1 {
			color: $dark-blue;
			text-align: center;
			font-size: 62px;
			margin: 39px 0px 0px 10px;
		}
		h2 {
			text-align: center;
			color:$light-blue;
			font-family: $helvetica;
			margin: 54px 0 4px 0px;
		}
		h4 {
		color: $dark-blue;
		@include blue-border(1px);
		font-size: 34px;
		padding-bottom: 9px;
		margin-right: 47px;
		margin-bottom: 5px;
		margin-top:38px;
		display: block;
		width:100%;
		}
		form {
			margin-bottom: 5px;
			padding-top: 4px;
			display: block;

			input{
				border-radius: 14px;
				background: #CFCD2F;
				border: 0px;
				color: #FFF;
				font-size: 20px;
				padding: 9px 20px;
				@include placeholder {
					color:#fff;
				}
				&:focus {
					outline: none;
				}
			}
		}
		&:first-of-type h2 {
			margin-top:0;
			}
		// For when the span6 bootstrap divs collapse vertically for
		// the blog summary
		@media only screen and (max-width:767px) {
			h4, #mc_embed_signup {
				text-align: center;
			}	
		}
	}
	@media only screen and (max-width:400px) {
		.span6 {
			h1 {
				line-height:1em;
			}
			h4 {
				line-height: 1em;
				text-align: center;
				margin: 10px auto;
			}
			form input {
				font-size: 15px;
				padding: 10px;
				display: inline-block;
				margin: 10px auto;
				width: 45%;
			}
		}
	}	
}
// For media grid
.mg_item_content {
	h1 {
		color:$dark-blue;
		font-size:28px;
	}
}

.body {
	padding:0% 5% 0% 0%;
	h4 {
		color: $faded-gray;
		font-size: 38px;
		border-bottom: 2px solid #38BEF1;
		font-weight: normal;
		margin: 16px 0px;
		width: 40%;
		padding-bottom: 10px;
		line-height:1em;
		@media only screen and (max-width:480px) {
			width:100%;
			margin-top: 1em;
			text-align: center;
		}
	}
	h4.headline {
		width: 95%;
		color: $faded-gray;
		font-family: $helvetica;
		font-weight:300;
		font-size: 38px;
		border-bottom: 2px solid #38BEF1;
		margin: 16px 0px;
			a {
			color: $faded-gray;
			@include transition (all 0.3s);
			&:hover {
				color: #005580;
				text-decoration: none;
			}
		}
		@media only screen and (max-width:481px) {
			font-size:28px;
		}
	}

	p {
		color: $faded-gray;
		font-size: 16px;
		line-height: 1.4em;
	}

	p img {
		float:none;
		margin:0 auto;
	}


	blockquote p {
		font-family: $lucida-grande;
		font-size:18px;
		border-left: 7px solid #38BEF1;
		padding: 0px 16px;
		color:#b6b6b6;
	}
}
// Styling for contact page
#post-51 {
	@media only screen and (max-width:767px) {
		text-align: center;
	}
}

.contact {
	.phonearea, .phonedetail1, .phonedetail2 {
	    display: inline-block;
	}

	.phonefield {
	    display:block;
	}
	.mc-field-group {
	    display: block;
	}

	.mce-TEEFONO {
		cursor: default;
		margin: 10px 0px 0px 13px;
		font-size: 20px;
		display: inline-block;
		line-height: 1em;
		padding-bottom: 0px;
	}

	#{$all-text-inputs} {
		font-size: 18px;
		padding: 10px;
		border-radius: 3px;
		border: 1px solid #7AA7AD;
		width: 366px;
		margin: 12px;
		color: $faded-gray;
		display: inline-block;
		@include transition (all 0.3s);
		@media only screen and (max-width:420px){
			width: 80%;
			font-size: 1em;
		}

	}
	#{$all-text-inputs-hover} {

	}
	#{$all-text-inputs-focus} { 

	}
	.phonefield {
		input[type="text"]{
			width:120px;
			@media only screen and (max-width:420px){
				width: 16%;
				margin: 0px 4%;
			}
		}
	}
	input[type="submit"]{
		padding: .5em 2.5em;
		font-size: 30px;
		font-family: 'Bebas';
		background: $light-blue;
		border: none;
		color: #FFF;
		border-radius: 14px;
	}
	inputy[type="radio"] {
		position: relative;
		bottom: 2px;
		display: inline-block;
		margin-right: 3px;
	}
}
